body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0be;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.name {
    background-color: rgb(81, 90, 81);
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.project-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.project-card p {
    margin: 0;
    color: #666;
}

.create-project-btn {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.create-issue-btn{
    display: block;
    width: 6%;
    background-color:black;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.popup-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
}

.popup-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.popup-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.popup-form button {
    background-color: #ff8800;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.project-card .apply-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.project-card .remove-btn {
    background-color: #ff3c00;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.remove-button{
    background-color: red;
    min-height: 10px;
    padding: 5px;
    border-radius: 5px;
    font-family: math;
    color: aliceblue;
}
.apply-button{
    background-color: burlywood;
    min-height: 10px;
    padding: 5px;
    border-radius: 5px;
    font-family: math;
    color: aliceblue;
}